@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-success fw-bold">Welcome to AgriEnergyConnect</h1>
        <!--Html images, https://www.w3schools.com/html/html_images.asp-->
        <img src="~/images/farmpic.jpg" alt="Farm Field with Tractor" class="img-fluid my-4 rounded shadow" style="max-height: 400px;" />

        <p class="lead">
            Many villages are based on agriculture.  We at AgriEnergyConnect enable farmers and farm employees to better track, exchange, and manage their resources and goods.  For the agriculture industry to become more transparent and productive, our technology facilitates cooperation between farmers and employees.
        </p>
    </div>
</div>

